:root{
  --nav-color: hsl(210, 15%, 11%);
  --nav-color-hover: hsl(210, 11%, 45%);
  --nav-border-color: hsl(210, 11%, 45%);
  --light-color: hsl(209, 100%, 92%);
  --font-color: hsl(0, 0%, 100%);
  --font-color-hover: hsl(61, 52%, 56%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
